<!doctype html>
<html class="" lang="en">

{% block  imports %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Beautyhouse | Home4</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="{{ asset('images/apple-touch-icon.png') }}" type="images/x-icon" rel="shortcut icon">

    <!-- All css files are included here. -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/core.css') }}">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    <!-- customizer style css -->
    <link href="#" data-style="styles" rel="stylesheet">
    <!-- Modernizr JS -->
    <script src="{{ asset('js/vendor/modernizr-2.8.3.min.js') }}"></script>
    {% block css %}{% endblock css %}
</head>
{% endblock %}

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="boxed-layout">
    <div class="wrapper white-bg">
        <!--header section start-->
        <!--header section start-->
        <div class="header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 hidden-xs">
                            <div class="header-left">
                                <div class="call-center">
                                    <p><i class="zmdi zmdi-phone"></i>(+880) 01656300176</p>
                                </div>
                                <div class="mail-address">
                                    <p><i class="zmdi zmdi-email"></i>breed@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="social-icons">
                                <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="#"><i class="zmdi zmdi-dribbble"></i></a>
                                <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                                <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="mgea-full-width">
                        <div class="row">
                            <div class="col-md-2 col-sm-6 col-xs-9">
                                <div class="logo">
                                    <a href="index.html"><img src="images/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-8 hidden-sm hidden-xs">
                                <div class="menu">
                                    <nav>
                                        <ul>
                                            <li><a href="index.html">Home</a>
                                                <ul class="dropdown_menu">
                                                    <li><a href="index.html">home page one</a></li>
                                                    <li><a href="index-2.html">home page two</a></li>
                                                    <li><a href="index-3.html">home page three</a></li>
                                                    <li><a href="index-4.html">home page four</a></li>
                                                    <li><a href="index-5.html">home page five</a></li>
                                                    <li><a href="index-box.html">home page six</a></li>
                                                    <li><a href="index-box-fixed.html">home page seven</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-parent item-2"><a href="shop.html">shop</a>
                                                <ul class="mgea-menu">
                                                    <li class="mega-sub"><a href="#">Column one</a>
                                                        <ul class="mega-sub-item">
                                                            <li><a href="shop.html">shop page</a></li>
                                                            <li><a href="shop.html">shop sidebar</a></li>
                                                            <li><a href="wishlist.html">wishlist</a></li>
                                                            <li><a href="product-details.html">product Details</a></li>
                                                            <li><a href="cart.html">cart</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-sub"><a href="#">Column two</a>
                                                        <ul class="mega-sub-item">
                                                            <li><a href="checkout.html">checkout</a></li>
                                                            <li><a href="gallery-2.html">Gallery 2</a></li>
                                                            <li><a href="gallery.html">gallery</a></li>
                                                            <li><a href="elements-feature.html">Feature</a></li>
                                                            <li><a href="elements-fun-fact.html">Fun fact</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-sub"><a href="#">Column Three</a>
                                                        <div class="mega-img">
                                                            <img src="images/product/mega.jpg" alt="">
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="about-us.html">about</a></li>
                                            <li><a href="#">pages</a>
                                                <ul class="dropdown_menu">
                                                    <li><a href="about-us.html">about us</a></li>
                                                    <li><a href="404.html">404</a></li>
                                                    <li><a href="contact-us.html">contact us</a></li>
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog-details.html">blog Deatils</a></li>
                                                    <li><a href="gallery-2.html">gallery</a></li>
                                                    <li><a href="shop.html">shop pages</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-parent"><a href="#">Feature</a>
                                                <ul class="mgea-menu">
                                                    <li class="mega-sub"><a href="#">Column one</a>
                                                        <ul class="mega-sub-item">
                                                            <li><a href="elements-accordion.html">Accordion</a></li>
                                                            <li><a href="elements-tab.html">Tab</a></li>
                                                            <li><a href="elements-table.html">table</a></li>
                                                            <li><a href="elements-progessbar.html">progressbar</a></li>
                                                            <li><a href="elements-alerts.html">Alerts</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-sub"><a href="#">Column two</a>
                                                        <ul class="mega-sub-item">
                                                            <li><a href="elements-audio.html">Audio</a></li>
                                                            <li><a href="elements-video.html">video</a></li>
                                                            <li><a href="elements-gallery.html">gallery one</a></li>
                                                            <li><a href="gallery-2.html">Gallery two</a></li>
                                                            <li><a href="elements-typhograpy.html">typhogrpahy</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-sub"><a href="#">Column Three</a>
                                                        <ul class="mega-sub-item">
                                                            <li><a href="elements-testimonial.html">Testimonial</a></li>
                                                            <li><a href="elements-brand.html">brand</a></li>
                                                            <li><a href="elements-team.html">Team</a></li>
                                                            <li><a href="elements-button.html">Button</a></li>
                                                            <li><a href="elements-map.html">map</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-sub"><a href="#">Column one</a>
                                                        <ul class="mega-sub-item">
                                                            <li><a href="elements-pricing.html">Pricing table</a></li>
                                                            <li><a href="elements-fun-fact.html">Fun fact</a></li>
                                                            <li><a href="elements-feature.html">Features</a></li>
                                                            <li><a href="elements-video-2.html">Video section</a></li>
                                                            <li><a href="elements-no-sticky.html">No sticky</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="blog.html">blog</a></li>
                                            <li><a href="contact-us.html">contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-3">
                                <div class="header-action-box">
                                    <div class="mini-cart" >
                                        <div class="cart-icon">
                                            <a href="#"><i class="zmdi zmdi-shopping-cart"></i></a>
                                            <span>2</span>
                                        </div>
                                        <!-- Mini Cart -->
                                        <div class="mini-cart-box right">
                                            <div class="mini-cart-product fix">
                                                <a href="#" class="image"><img src="images/cart/mini-1.jpg" alt="" /></a>
                                                <div class="content fix">
                                                    <a href="#" class="title">wooden furniture</a>
                                                    <p>Color: Black</p>
                                                    <p>Size: SL</p>
                                                    <button class="remove"><i class="zmdi zmdi-close"></i></button>
                                                </div>
                                            </div>
                                            <div class="mini-cart-product fix">
                                                <a href="#" class="image"><img src="images/cart/mini-1.jpg" alt="" /></a>
                                                <div class="content fix">
                                                    <a href="#" class="title">wooden furniture</a>
                                                    <p>Color: Black</p>
                                                    <p>Size: SL</p>
                                                    <button class="remove"><i class="zmdi zmdi-close"></i></button>
                                                </div>
                                            </div>
                                            <div class="mini-cart-product fix">
                                                <a href="#" class="image"><img src="images/cart/mini-1.jpg" alt="" /></a>
                                                <div class="content fix">
                                                    <a href="#" class="title">wooden furniture</a>
                                                    <p>Color: Black</p>
                                                    <p>Size: SL</p>
                                                    <button class="remove"><i class="zmdi zmdi-close"></i></button>
                                                </div>
                                            </div>
                                            <div class="mini-cart-checkout text-center">
                                                <a href="checkout.html">checkout</a>
                                            </div>
                                        </div>
                                        <!--mini cart end-->
                                    </div>
                                    <div class="search">
                                        <a href="#"><i class="zmdi zmdi-search"></i></a>
                                    </div>
                                </div>
                                <div class="search-box">
                                    <div class="search-form">
                                        <form action="#" id="search-form">
                                            <input type="search" name="search" placeholder="Search here...">
                                            <button type="submit">
                                                <span><i class="fa fa-search"></i></span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile menu start -->
                <div class="mobile-menu-area hidden-lg hidden-md">
                    <div class="container">
                        <div class="col-md-12">
                            <nav id="dropdown">
                                <ul>
                                    <li><a href="index.html">Home</a>
                                        <ul class="dropdown_menu">
                                            <li><a href="index.html">home page one</a></li>
                                            <li><a href="index-2.html">home page two</a></li>
                                            <li><a href="index-3.html">home page three</a></li>
                                            <li><a href="index-4.html">home page four</a></li>
                                            <li><a href="index-5.html">home page five</a></li>
                                            <li><a href="index-box.html">home page six</a></li>
                                            <li><a href="index-box-fixed.html">home page seven</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop.html">shop</a>
                                        <ul class="mgea-menu">
                                            <li class="mega-sub"><a href="#">Column one</a>
                                                <ul class="mega-sub-item">
                                                    <li><a href="shop.html">shop page</a></li>
                                                    <li><a href="shop.html">shop sidebar</a></li>
                                                    <li><a href="wishlist.html">wishlist</a></li>
                                                    <li><a href="product-details.html">product Details</a></li>
                                                    <li><a href="cart.html">cart</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-sub"><a href="#">Column two</a>
                                                <ul class="mega-sub-item">
                                                    <li><a href="checkout.html">checkout</a></li>
                                                    <li><a href="gallery-2.html">Gallery 2</a></li>
                                                    <li><a href="gallery.html">gallery</a></li>
                                                    <li><a href="elements-feature.html">Feature</a></li>
                                                    <li><a href="elements-fun-fact.html">Fun fact</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="about-us.html">about</a></li>
                                    <li><a href="#">pages</a>
                                        <ul class="dropdown_menu">
                                            <li><a href="about-us.html">about us</a></li>
                                            <li><a href="404.html">404</a></li>
                                            <li><a href="contact-us.html">contact us</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-details.html">blog Deatils</a></li>
                                            <li><a href="gallery-2.html">gallery</a></li>
                                            <li><a href="shop.html">shop pages</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Feature</a>
                                        <ul class="mgea-menu">
                                            <li class="mega-sub"><a href="#">Column one</a>
                                                <ul class="mega-sub-item">
                                                    <li><a href="elements-accordion.html">Accordion</a></li>
                                                    <li><a href="elements-tab.html">Tab</a></li>
                                                    <li><a href="elements-table.html">table</a></li>
                                                    <li><a href="elements-progessbar.html">progressbar</a></li>
                                                    <li><a href="elements-alerts.html">Alerts</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-sub"><a href="#">Column two</a>
                                                <ul class="mega-sub-item">
                                                    <li><a href="elements-audio.html">Audio</a></li>
                                                    <li><a href="elements-video.html">video</a></li>
                                                    <li><a href="elements-gallery.html">gallery one</a></li>
                                                    <li><a href="gallery-2.html">Gallery two</a></li>
                                                    <li><a href="elements-typhograpy.html">typhogrpahy</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-sub"><a href="#">Column Three</a>
                                                <ul class="mega-sub-item">
                                                    <li><a href="elements-testimonial.html">Testimonial</a></li>
                                                    <li><a href="elements-brand.html">brand</a></li>
                                                    <li><a href="elements-team.html">Team</a></li>
                                                    <li><a href="elements-button.html">Button</a></li>
                                                    <li><a href="elements-map.html">map</a></li>
                                                </ul>
                                            </li>
                                            <li class="mega-sub"><a href="#">Column one</a>
                                                <ul class="mega-sub-item">
                                                    <li><a href="elements-pricing.html">Pricing table</a></li>
                                                    <li><a href="elements-fun-fact.html">Fun fact</a></li>
                                                    <li><a href="elements-feature.html">Features</a></li>
                                                    <li><a href="elements-video-2.html">Video section</a></li>
                                                    <li><a href="elements-no-sticky.html">No sticky</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="contact-us.html">contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Mobile menu end -->
            </div>
        </div>
        {% block contenu %}
        {% endblock contenu %}
        <!--header section end-->
        <!--header section end-->

        <!--footer start-->
        <div class="footer">
            <div class="footer-top ptb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-footer contact">
                                <div class="footer-title">
                                    <h3>Contact us</h3>
                                </div>
                                <div class="contact-action mb-15">
                                    <span><i class="zmdi zmdi-pin"></i></span>
                                    <p>House No 08, Road No 08,<br>Din Bari, Dhaka, Bangladesh</p>
                                </div>
                                <div class="contact-action mb-15">
                                    <span><i class="zmdi zmdi-email"></i></span>
                                    <p>Username@gmail.com<br>Damo@gmail.com</p>
                                </div>
                                <div class="contact-action">
                                    <span>
                                        <i class="zmdi zmdi-phone"></i>
                                    </span>
                                    <p>(+660 256 24857)<br>(+660 256 24857)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="single-footer quick-links">
                                <div class="footer-title">
                                    <h3>Quick links</h3>
                                </div>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">about</a></li>
                                    <li><a href="#">serivces</a></li>
                                    <li><a href="#">portfolio</a></li>
                                    <li><a href="#">contact us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="single-footer open-hours">
                                <div class="footer-title">
                                    <h3>Open hours</h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetueiusmodm dost  adipisicing elit, sed do eiusmod is tempincididuntm ut
                                    lorem ipsome do or sit amt  labore et dolor </p>
                                <ul>
                                    <li>Monday - Friday <span>8.00-5.00</span></li>
                                    <li>Saturday <span>12.00-5.00</span></li>
                                    <li>Sunday <span class="close">close</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="single-footer widget">
                                <div class="footer-title">
                                    <h3>Flicker widget</h3>
                                </div>
                                <ul>
                                    <li><a href="#"><img src="images/widget/1.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/widget/2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/widget/3.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/widget/4.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/widget/5.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="images/widget/6.jpg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer end-->

    </div>
</div>
{% block js %}
{% endblock %}

<!-- Placed js at the end of the document so the pages load faster -->


<!-- All js plugins included in this file. -->

<!-- All js plugins included in this file. -->
<script src="{{ asset('js/vendor/jquery-1.12.0.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.nivo.slider.pack.js') }}"></script>
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('js/ajax-mail.js') }}"></script>
<script src="{{ asset('js/jquery.magnific-popup.js') }}"></script>
<script src="{{ asset('js/jquery.counterup.min.js') }}"></script>
<script src="{{ asset('js/plugins.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>

</body>

</html>